body {
  background-color: rgb(243, 243, 235);
}
div {
  cursor: text;
}
.first-last-name {
  text-align: center;
}
.professional-title {
  text-align: center;
}
.favorite-statement {
  font-size: 18px;
}
.profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 9px 9px 5px rgb(122, 121, 121);
}
.personal-description {
  font-family: Arial, Helvetica, sans-serif;
}
.about-me-section {
  font-size: 18px;
}
.project-title {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border-radius: 8px;
  box-shadow: 6px 6px 5px rgb(122, 121, 121);
}
